/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    overflow:hidden;
    background:linear-gradient(135deg,#090612,#120B23,#1A1035,#24154B);
}

/* ==========================
   FUNDO
========================== */

.background{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.background::before{
    content:"";
    width:700px;
    height:700px;
    position:absolute;
    background:#7C3AED;
    border-radius:50%;
    filter:blur(220px);
    opacity:.18;
}

/* ==========================
   CARD
========================== */

.login-card{
    width:430px;
    background:rgba(23,18,37,.88);
    backdrop-filter:blur(16px);
    border:1px solid rgba(124,58,237,.35);
    border-radius:20px;
    padding:45px;
    z-index:2;
    box-shadow:
    0 20px 50px rgba(0,0,0,.45),
    0 0 30px rgba(124,58,237,.25);
}

/* ==========================
   LOGO
========================== */

.logo{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:25px;
}

.logo-circle{
    width:14px;
    height:14px;
    border-radius:50%;
    background:#8B5CF6;
    box-shadow:0 0 20px #8B5CF6;
    margin-right:12px;
}

.logo h1{
    color:white;
    font-size:38px;
}

.logo{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-bottom:50px;
}

.logo-img{
    width:200px;
    height:200px;
    object-fit:contain;
    margin-bottom:15px;
    border-radius: 50px;
}

.logo h1{
    color:#ffffff;
    font-size:48px;
    font-weight:700;
    margin:0;
}

/* ==========================
   TITULOS
========================== */

h2{
    text-align:center;
    color:white;
    margin-bottom:10px;
    font-size:30px;
}

p{
    color:#B8B5C7;
    text-align:center;
    margin-bottom:35px;
    line-height:24px;
}

/* ==========================
   INPUTS
========================== */

input{
    width:100%;
    padding:16px;
    margin-bottom:18px;
    background:#141021;
    color:white;
    border:none;
    border-radius:12px;
    border:1px solid #3D2B63;
    transition:.3s;
    font-size:15px;
}

input::placeholder{
    color:#8C86A6;

}

input:focus{
    outline:none;
    border-color:#9D4EDD;
    box-shadow:0 0 18px rgba(157,78,221,.45);
}

/* ==========================
   BOTÕES
========================== */

button{
    width:100%;
    padding:26px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#7C3AED,#9D4EDD);
    color:white;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.35s;
    box-shadow:0 0 25px rgba(124,58,237,.35);
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 0 35px rgba(157,78,221,.65);
}

/* ==========================
   LINK
========================== */

span{
    display:block;
    margin-top:25px;
    text-align:center;
    color:#B98BFF;
    cursor:pointer;
    transition:.3s;
}

span:hover{
    color:white;
}

/* ==========================
   RESPONSIVO
========================== */

@media(max-width:500px){

    .login-card{
        width:92%;
        padding:30px;
    }

    .logo h1{
        font-size:30px;
    }
}

/* ==========================
DASHBOARD
========================== */

.dashboard{
    width:100%;
    min-height:100vh;
    padding:35px;
    background:linear-gradient(135deg,#090612,#120B23,#1A1035,#24154B);
    color:white;
}

/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}

.usuario{
    display:flex;
    align-items:center;
    gap:20px;
}

.logout{
    width:auto;
    padding:10px 20px;
}

/* TOPO */

.topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.topo h2{
    font-size:34px;
}

/* FORM */

.novo-habito{
    display:flex;
    gap:15px;
    margin-bottom:35px;
}

.novo-habito input{
    flex:1;
    margin:0;
}

.cancelar{
    background:#444;
}

.cancelar:hover{
    background:#666;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:
    repeat(auto-fill,minmax(320px,1fr));
    gap:25px;
}

/* CARD */

.card-habito{
    background:rgba(27,20,48,.88);
    border:1px solid rgba(124,58,237,.35);
    border-radius:20px;
    padding:25px;
    transition:.35s;
    backdrop-filter:blur(12px);
    box-shadow:0 10px 30px rgba(0,0,0,.30);
}

.card-habito:hover{
    transform:translateY(-8px);
    border-color:#9D4EDD;
    box-shadow:
    0 20px 40px rgba(0,0,0,.35),
    0 0 25px rgba(124,58,237,.30);
}

.acoes{
    display:flex;
    justify-content:space-between;
    margin-top:25px;
}

.acoes button{
    width:32%;
    padding:12px;
    font-size:14px;
}

.vazio{
    padding:60px;
    text-align:center;
    color:#AAA;
    font-size:18px;
}

.card-topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.card-topo h3{
    font-size:22px;
}

.badge{
    background:#7C3AED;
    padding:6px 12px;
    border-radius:30px;
    font-size:13px;
}

.progresso{
    width:100%;
    height:8px;
    background:#2A2240;
    border-radius:20px;
    overflow:hidden;
    margin:18px 0;
}

.progresso span{
    display:block;
    height:100%;
    background:linear-gradient(90deg,#7C3AED,#B26CFF);
}

.acoes{
    display:flex;
    gap:10px;
    margin-top:20px;
}

.acoes button{
    flex:1;
}

/* ==========================
MODAL
========================== */

.modal-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.65);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.modal{
    width:420px;
    background:#1B1430;
    border-radius:20px;
    padding:35px;
    border:1px solid rgba(124,58,237,.35);
    box-shadow:0 0 40px rgba(124,58,237,.25);
}

.modal h2{
    margin-bottom:25px;
}

.modal input{
    margin-bottom:18px;
}

.modal-buttons{
    display:flex;
    gap:12px;
}

.modal-buttons button{
    flex:1;
}

/* ==========================
ESTATÍSTICAS
========================== */

.estatisticas{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-bottom:35px;
}

.info-card{
    background:rgba(28,21,48,.85);
    border:1px solid rgba(124,58,237,.25);
    border-radius:18px;
    padding:25px;
    text-align:center;
    transition:.3s;
}

.info-card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(124,58,237,.25);
}

.info-card h3{
    font-size:40px;
    color:#B57CFF;
}

.info-card span{
    color:#BBB;
}

/* ==========================
LAYOUT
========================== */

.dashboard-layout{
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:250px;
    background:#140F25;
    padding:35px;
    border-right:1px solid #35245E;
    display:flex;
    flex-direction:column;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    margin-top:50px;
    gap:18px;
}

.sidebar nav a{
    padding:15px;
    border-radius:12px;
    color:#BBB;
    cursor:pointer;
    transition:.3s;
}

.sidebar nav a:hover{
    background:#2A1E49;
    color:white;
}

.ativo{
    background:#7C3AED;
    color:white !important;
}

.logout{
    margin-top:auto;
}

/* CONTEÚDO */

.conteudo{
    flex:1;
    padding:40px;
}

.header-dashboard{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.header-dashboard h2{
    font-size:38px;
}

.header-dashboard p{
    margin-top:8px;
    color:#AAA;
}


